.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    gap: 10px;
    margin: auto;
    padding: 10px;
}

.header button {
    background-color: #131c2f;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

@media (min-width: 1280px) {
    .header a {
        font-size: 2rem;
        padding: 5px;
    }

    .header button {
        font-size: 2rem;
    }
}