.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    gap: 10px;
    margin: auto;
    padding: 10px;
}

.header button {
    background-color: #131c2f;
    color: #fff;
    cursor: pointer;
}